<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>ホーム　プロフィール　お問い合わせ</header>
    <%= yield %>

    <footer>Copyright © 知識ゼロからのRuby on Rails All Rights Reserved</footer>
  </body>
</html>
